TYPE=service_account
PROJECT_ID=your-firebase-project-id
PRIVATE_KEY_ID=your-firebase-private-key-id
PRIVATE_KEY=your-firebase-private-key
CLIENT_EMAIL=your-firebase-client-email
CLIENT_ID=your-firebase-client-id
DATABASE_URL=https://your-firebase-project.firebaseio.com
